<%- include("partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header">Sign in</div>
    <form action="/login" method="post" class="ui form">
        <div class="field">
            <label>User ID</label>
            
            <input type="text" name = "username">
        </div>
        <div class="field">
            <label>Password</label>
            
            <input type="password" name = "password">
        </div>
        
        
        <button class="ui big black button">Sign in</button>
        
            
    </form>
</div>


<%- include("partials/footer") %>