<%- include("partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header">Sign out</div>
    <form action="/logout" method="post" class="ui form">
               
        <button class="ui big black button">Sign out</button>
    </form>
</div>


<%- include("partials/footer") %>